    
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>

    <script>
      let sideNav = document.querySelector(".sidenav")
      $('.sidenav-toggle-button').click(() => {
        sideNav.classList.toggle("open")
      })
    </script>
  </body>
</html>