<footer class="bg-dark py-3 text-center text-white">
  <p class="p-0 m-0"><%= appname %>. Copyright &copy; 2022</p>
</footer>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>