<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <link rel="shortcut icon" href="/images/favicon-32x32.png" type="image/png" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/app.css" type="text/css" />
  <title><%= appname %></title>
  <style>
    body {
      /* background-color: rgb(6, 114, 236); */
      background-color: #28a745 !important;
      height: 100vh;
    }
    .login-div {
      padding: 8rem 0 0;
      margin: 0 auto;
      width: 50%;
    }
    .form-div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;
    }
    .form-div .form-control {
      flex: 1;
      border-radius: 0;
    }
    .form-div.inline label {
      min-width: 166px;
      background-color: #f08915;
      display: inline-block;
      margin-bottom: 0;
      padding: 0.45rem;
      font-size: 1.1rem;
      font-weight: 600s;
      color: white;
      border: 0
    }
    .title {
      text-transform: uppercase;
      margin: 2rem 0;
    }
    button {
      padding: 11px 22px;
      border: 0;
      outline: none;
      font-size: 17px;
      color: white;
      background-color: rgba(18, 15, 230, 0.678);
    }
  </style>
</head>
<body>
  <div>
    <div class="login-div">
      <div>
        <h1 class="title text-center text-white">Admin Login</h1>
      </div>
      <div>
        <% if (error_msg && error_msg.length > 0) { %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong><%= error_msg %></strong> 
          </div>
          <script>
            $(".alert").alert();
          </script>
        <% } %>
      </div>
      <form action="/admin/login" method="POST">
        <div class="form-div inline">
          <label>Username</label>
          <input name="username" class="form-control" >
        </div>
        <div class="form-div inline">
          <label>Password</label>
          <input name="password" type="password" class="form-control">
        </div>
        <button class="button pull-right">Login</button>
      </form>
    </div>
  </div>

  
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>